h1 {
  font-size: 16px;
}

p {
  font-size: 20px;
}

.container-1 {
  margin: 0 auto;
  width: 60%;
}

body {
  text-align: center !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
#info-academics {
	height: 300px;
}
*/