* {
  font-family: 'Gotu', sans-serif;
}

.navbar {
  height: 80px;
  font-size: 35px;
  z-index: 9999;

}

#collapse_target {
  background-color: white;
}

.bg-light {
  background-color: #FFFFFF !important;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#sentence {
  align-content: center;
}

/* .navbar-toggle.collapsed {
  background-color: #FFFFFF;
}

.navbar-inverse .navbar-toggle:hower,
.navbar-inverse .navbar-toggle.focus {
  background-color: #FFFFFF;
} */