* {
  font-family: 'Gotu', sans-serif;
}

.navbar {
  height: 80px;
  font-size: 35px;
}

.bg-light {
  background-color: #FFFFFF !important;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#sentence {
  align-content: center;
}